{% extends 'base.html' %}

{% block body %}

<div class="container mt-2">
    <div class="container overflow-hidden p-4 mb-5">
        <div class="row gy-4">
            <div class="col-3 ps-0 ">
                <div class="p-3  custom-card">Clients in last 2 months: <strong>{{client_count}}</strong></div>
            </div>
            <div class="col-3">
                <div class="p-3 custom-card">Appointments: <strong>{{appointments_count}}</strong></div>
            </div>
            <div class="col-3">
                <div class="p-3 custom-card ">Basic plan : <strong>{{client_basic_info}}</strong></div>
            </div>
            <div class="col-3">
                <div class="p-3 custom-card">Revenue: <strong>{{payments}}</strong></div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3 d-flex justify-content-between">
    <strong style="align-content: center;">Customers in last two months: </strong>
    <a href="form/" ><button type="button" class="btn btn-style">+ Add</button></a>
  
</div>

<div class="container mt-3">
    <table id="table" data-toggle="table" data-height="300" data-ajax="ajaxRequest1" data-pagination="false">
        <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="name"> Name</th>
                <th data-field="number">Primary Number</th>
            </tr>
        </thead>
    </table>
    <script>
        // your custom ajax request here
        function ajaxRequest1(params) {
            var url = '/app/clients_added/{{id}}'
            $.get(url).then(function (res) {
                params.success(res)
            })
        }
    </script>
</div>

<div class="container mt-5 ">
   
<div class="btn-group d-flex justify-content-between">
    <div class="container">
        <strong>Payments status for last two months</strong>
    </div>
    <div class="drop-button">
        <button type="button" class="btn btn-style dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Paid/Open
          </button>
      
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="open_payments?user={{id}}">Open</a></li>
            <li><a class="dropdown-item" href="paid_payments?user={{id}}">Paid</a></li>
            <li><a class="dropdown-item" href="all_payments?user={{id}}">All</a></li>
          </ul>
    </div>

  </div>
  
</div>

<div class="container mt-2 mb-3">

    <table id="table" data-toggle="table" data-height="300" data-ajax="ajaxRequest" data-pagination="false">
        <thead>
            <tr>
                <th data-field="user">Name</th>
                <th data-field="amount">Amount</th>
                <th data-field="date">Paid On</th>
                <th data-field="status">Status</th>
            </tr>
        </thead>
    </table>
    <script>
        // your custom ajax request here
        function ajaxRequest(params) {
            var url = '/app/{{url}}?user={{id}}'
            $.get(url).then(function (res) {
                params.success(res)

            })
        }
    </script>
</div>
{% endblock %}